[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = ros2
[submodule "BRAM-uio-driver"]
	path = dynamixel_sdk_maincontroller/include/BRAM-uio-driver
	url = https://github.com/DIII-SDU-Group/BRAM-uio-driver.git
	branch = main
