[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = ros2
[submodule "dynamixel_sdk_maincontroller/include/BRAM-uio-driver"]
	path = dynamixel_sdk_maincontroller/include/BRAM-uio-driver
	url = /dynamixel_sdk_maincontroller/include/BRAM-uio-driver/
